* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    margin: auto;
}

div[title="header"] {
    background-image: url("files/zac-gudakov-YHOCSl91YHY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}


div[title="header"] h1 {
    font-size: 5em;
    margin-bottom: 20px;
    font-weight: 600;
    color:  white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div[title="header"] button {
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-bottom {
    position: absolute;
    bottom: 20px;
    width: 75%;
    display: flex;
    justify-content: center;

}

div[title="header"] button:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: black;
}

div[title="header"] button img {
    width: 30px;
    height: 30px;
}

