* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: 
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

div[title="header"] {
    background-color: #555; /* fallback if image doesn't load */
    background-image: url('files/zac-gudakov-YHOCSl91YHY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

div[title="header"] h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.5);
}

div[title="header"] button {
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div[title="header"] button:hover {
    background-color: white;
    transform: translateY(-2px);
    box-shadow: black;
}

div[title="header"] button img {
    width: 30px;
    height: 30px;
}

div[title="Bio"] {
    background-color: #ffe7d4;
    padding: 50px 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

div[title="Bio"] h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

div[title="Projects"] {
    background-color: #f9d4ff;
    padding: 50px 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

div[title="Projects"] h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

div[title="Projects"] h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

div[title="Projects"] li {
    margin-bottom: 10px;
    margin-left: 20px;
    color: #010101;
}